{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>IITD BSA Slot Booking</title>
{% endblock %}

{% block body %}

  <!--Hero 1 Start-->
    <section class="text-gray-600 body-font">
      <div>
        <script src="https://cdn.tailwindcss.com"></script>
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://home.iitd.ac.in/public/storage/uploads/mittal_1_1648897598.jpg">
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">IITD BSA Slot Booking Website</h1>
            <p class="mb-8 leading-relaxed">Register here and book slots for Mittal Sports Center, Swimming Pool and SAC Sports Rooms.</p>
            <div class="flex justify-center">
            </div>
              <a href="{% url 'register' %}"><button class="inline-flex text-white bg-red-600 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Register</button></a>
              <a href="{% url 'login' %}"><button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Login</button></a>
              <a href="{% url 'booking' %}"><button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Book Slots</button></a>
            </div>
          </div>
        </div>
      </section>

  <!--Hero 1 End-->

{% endblock %}
